<% layout('../layouts/layout.html', {
title: '找回密码',
page: 'user',
isColumn: false,
keywords: 'JeeWeb SpringMVC Spring Hibernate',
description: 'JeeWeb是一款基于SpringMVC+Spring+Hibernate的敏捷开发系统；它是一款具有代码生成功能的智能快速开发平台；是以Spring Framework为核心容器，Spring MVC为模型视图控制器，Hibernate为数据访问层， Apache Shiro为权限授权层，Ehcahe对常用数据进行缓存，Disruptor作为并发框架，Bootstrap作为前端框架的优秀 开源 系统。'
}){ %>
<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="${ctx}/login">登入</a></li>
        <li class="layui-this">找回密码</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-btn-container" style="margin: 10px 0;">
            <a href="${ctx}/user/forget?type=email" class="layui-btn layui-btn-sm <%if(type =='phone'){%>layui-btn-primary<%}%>">通过邮箱找回</a>
            <a href="${ctx}/user/forget?type=phone" class="layui-btn layui-btn-sm <%if(type =='email'){%>layui-btn-primary<%}%>">通过手机找回</a>
          </div>
          <div class="layui-form layui-form-pane">
            <%if(type =='email'){%>
            <form method="post">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input" />
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">图形码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_imagecode" name="imagecode" required="" lay-verify="required" autocomplete="off" class="layui-input" />
                </div>
                <div class="layui-form-mid" style="padding: 0!important;">
                   <img id="img_jcaptcha"  src="/jcaptcha.jpg" width="100" height="40" />
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" alert="1" lay-filter="*" lay-submit="">提交</button>
              </div>
            </form>
            <%}%>
            <%if(type =='phone'){%>
            <form method="post">
              <div class="layui-form-item">
                <label for="L_phone" class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_phone" name="phone" required="" lay-verify="phone" autocomplete="off" class="layui-input" />
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">图形码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_imagecode" name="imagecode" required="" lay-verify="required" autocomplete="off" class="layui-input" />
                </div>
                <div class="layui-form-mid" style="padding: 0!important;">
                  <img id="img_jcaptcha"  src="/jcaptcha.jpg" width="100" height="40" />
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required="" lay-verify="required" placeholder="请输入手机验证码" autocomplete="off" class="layui-input" />
                </div>
                <div class="layui-form-mid" style="padding: 0!important;">
                  <button type="button" class="layui-btn layui-btn-normal" id="FLY-getvercode">获取验证码</button>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" alert="1" lay-filter="*" lay-submit="">提交</button>
              </div>
            </form>
            <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<% } %>

<script>
    layui.config({
        version: "3.0.0"
        ,base: '${staticPath}/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>