.vSlider {
	overflow:visible;
	position:relative;
	border:none!important;
}
.vSlider ul.mainslider {
	margin:0;
	padding:0;
	float:left;
	list-style:none;
	position:relative;
	overflow:hidden;
	display:block;
	border:none!important;
}
.vSlider ul.mainslider li {
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	border:none!important;
	margin:0;
	padding:0;
}
.vSlider ul.mainslider li>a {
	background:#fff;
	margin:0;
	padding:0;
	outline:none;
	border:none;
	text-decoration:none;
	background:transparent;
}
.vSlider ul.mainslider li>a img {
	background:#fff;
	margin:0;
	padding:0;
	display:block;
}
.vSlider span {
    background-image: url("../images/slider-bg.png");
    background-repeat: repeat-x;
    bottom: 90px;
    color: #FFFFFF;
    display: block;
    font-family: "myriad Pro";
    font-size: 17px;
    left: 125px;
    line-height: 25px;
    padding: 10px;
    position: absolute;
    width: 60%;
}
.vSlider h1, h2, h3, h4, h5 {
	color:#fff!important;
	font-weight:100;
	margin-top:20px;
	margin-left:20px;
	margin-bottom:5px;
	line-height:1.4;
	font-size:18px;
	letter-spacing: 1px;
}
.vSlider ul li div.inline {
	background:#fff
}
.reset {
	z-index:1;
}
.active {
	z-index:5;
}
a.q-prev {
    background: url("../images/extra_img_prev.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 37px;
    left: 230px;
    position: relative;
    top: 10px;
    width: 39px;
    z-index: 199;
}
a.q-prev:hover, a.q-next:hover {
	opacity:1;
}
a.q-next {
    background: url("../images/extra_img_next.png") no-repeat scroll right top transparent;
    display: block;
    float: right;
    height: 37px;
    position: relative;
    right: 386px;
    top: 8px;
    width: 39px;
    z-index: 199;
}
.controls {
	position:relative;
	bottom:-29px;
	padding:5px 8px;
	left:42%;
	z-index:99;
	float:left;
	margin:-15px 0px 0px 0px;
}
.controls li {
	position:relative;
	z-index:9;
	cursor:pointer;
	display:block;
	width:18px;
	height:18px;
	background:url(../images/default.png) no-repeat;
	float:left;
	margin:0px 2px;
	text-indent:-9999px;
}
.controls li.control_active {
	background:url(../images/active.png) no-repeat;
}
