<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.bbs.modules.posts.mapper.PostsCollectionMapper" >

    <sql id="Base_Column_List" >
        DISTINCT
        c.id,
        c.tid,
        c.collection_time as collectionTime,
        c.collection_uid as collectionUid,
        u.id as "user.id",
        u.realname as "user.realname",
        u.username as "user.username",
        u.portrait as "user.portrait",
        u.email as "user.email",
        u.phone as "user.phone",
        u.vip_level as "user.vipLevel",
        u.auth as "user.auth",
        u.auth_info as "user.authInfo",
        u.status as "user.status",
        p.id as "posts.id",
        p.column as "posts.column",
        p.title as "posts.title",
        p.project as "posts.project",
        p.version as "posts.version",
        p.browser as "posts.browser",
        p.content as "posts.content",
        p.experience as "posts.experience",
        p.uid as "posts.uid",
        p.publish_time as "posts.publishTime",
        p.read_count as "posts.readCount",
        p.top as "posts.top",
        p.solved as "posts.solved",
        p.essence as "posts.essence"
    </sql>


    <select id="selectCollectionList" resultType="cn.jeeweb.bbs.modules.posts.entity.PostsCollection">
        select
        <include refid="Base_Column_List" />
        from posts_collection c
        LEFT JOIN sys_user u on c.collection_uid = u.id
        LEFT JOIN posts p on c.tid = p.id
        <if test="ew.sqlSegment != '' and ew.sqlSegment != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>

</mapper>