<%
var columnName = postsUtils.getPostsColumnByAlias(currentPostsColumnAlias).name;
layout('../layouts/layout.html', {
title: columnName,
page: 'jie',
keywords: 'JeeWeb SpringMVC Spring Hibernate',
description: 'JeeWeb是一款基于SpringMVC+Spring+Hibernate的敏捷开发系统；它是一款具有代码生成功能的智能快速开发平台；是以Spring Framework为核心容器，Spring MVC为模型视图控制器，Hibernate为数据访问层， Apache Shiro为权限授权层，Ehcahe对常用数据进行缓存，Disruptor作为并发框架，Bootstrap作为前端框架的优秀 开源 系统。'
}){ %>
<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel" style="margin-bottom: 0;">

        <div class="fly-panel-title fly-filter">
          <a href="${ctx}/posts/${alias}" <% if(columnType! == ''){%> class="layui-this" <%}%>>综合</a>
          <span class="fly-mid"></span>
          <a href="${ctx}/posts/${alias}/unsolved" <% if(columnType! == 'unsolved'){%> class="layui-this" <%}%>>未结</a>
          <span class="fly-mid"></span>
          <a href="${ctx}/posts/${alias}/solved" <% if(columnType! == 'solved'){%> class="layui-this" <%}%>>已结</a>
          <span class="fly-mid"></span>
          <a href="${ctx}/posts/${alias}/wonderful" <% if(columnType! == 'wonderful'){%> class="layui-this" <%}%>>精华</a>
          <span class="fly-filter-right layui-hide-xs">
            <a href="${listUrl}?orderBy=publish" <% if(orderBy! == '' || orderBy! == 'publish'){%> class="layui-this" <%}%>>按最新</a>
            <span class="fly-mid"></span>
            <a href="${listUrl}?orderBy=comment" <% if(orderBy! == 'comment'){%> class="layui-this" <%}%>>按热议</a>
          </span>
        </div>

        <ul class="fly-list">
          <% for (posts in postsPageBean.records) {%>
          <%include("./posts-li.html",{posts: posts}){}%>
          <%}%>
        </ul>
        <% if (postsPageBean.total == 0) {%>
          <div class="fly-none">没有相关数据</div>
        <%}%>
        <% if (postsPageBean.pages > 1) {%>
        <div style="text-align: center">
        <#page:pager pageSize="${postsPageBean.size}" pageNo="${postsPageBean.current}" url="${listUrl}/page" recordCount="${postsPageBean.total}"/>
        </div>
        <%}%>
      </div>
    </div>
    <div class="layui-col-md4">
      <!--本周热议-->
      <%include("../common/widget/posts-week-top.html",{column: alias,pageSize: 16}){}%>

      <!--广告-->
      <%include("../common/widget/ad.html"){}%>
      <!--二维码-->
      <%include("../common/widget/qrcode.html"){}%>

      <!--友情链接-->
      <%include("../common/widget/friend-link.html"){}%>

    </div>
  </div>
</div>
<% } %>
<script>
    layui.config({
        version: "3.0.0"
        ,base: '${staticPath}/mods/'  //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>