<li data-id="${comment.id}" class="jieda-daan">
  <a name="item-1111111111"></a>
  <div class="detail-about detail-about-reply">
    <a class="fly-avatar" href="">
      <img src="${comment.user.portrait}" alt="${comment.user.realname}">
    </a>
    <div class="fly-detail-user">
      <a href="${ctx}/user/home/${comment.user.id}" class="fly-link">
        <cite>${comment.user.realname}</cite>
        <% if(comment.user.auth != '' && comment.user.auth == '1'){%>
        <i class="iconfont icon-renzheng" title="认证信息：${comment.user.authInfo}"></i>
        <%}%>
        <% if(comment.user.vipLevel != '' && comment.user.vipLevel != '0'){%>
        <i class="layui-badge fly-badge-vip">VIP${comment.user.vipLevel}</i>
        <%}%>
      </a>
      <%if(comment.uid == posts.uid){%>
      <span style="color:#FF9E3F">(楼主)</span>
      <%}%>
      <!--
      <span style="color:#5FB878">(管理员)</span>
      <span style="color:#FF9E3F">（社区之光）</span>
      <span style="color:#999">（该号已被封）</span>
      -->
    </div>

    <div class="detail-hits">
      <span><% var publishTime = @DateUtils.convertTimeToFormat(comment.publishTime);%>${publishTime}</span>
    </div>
    <% if(comment.accept == '1'){%><i class="iconfont icon-caina" title="最佳答案"></i><%}%>
  </div>
  <div class="detail-body jieda-body photos">
   ${comment.content}
  </div>
  <div class="jieda-reply">
              <span class="jieda-zan <% if(comment.praise > 0){%>zanok<%}%>" type="zan">
                <i class="iconfont icon-zan"></i>
                <em>${comment.praiseCount}</em>
              </span>
    <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
    <div class="jieda-admin">
      <%if(loginUser.id == comment.uid){ %>
      <span type="edit">编辑</span>
      <span type="del">删除</span>
      <%}else if(shiro.hasRole('admin')){%>
      <span type="del">删除</span>
      <%}%>
      <% if(posts.solved == 0 && comment.accept == '0' && loginUser.id == posts.uid){%>
       <span class="jieda-accept" type="accept">采纳</span>
      <%}%>
    </div>
  </div>
</li>