<li>
  <a href="${ctx}/user/home/${posts.user.id}" class="fly-avatar">
    <img src="${posts.user.portrait}" alt="${posts.user.realname}">
  </a>
  <h2>
    <a class="layui-badge"><% var columnName = postsUtils.getPostsColumnByCode(posts.column).name;%>${columnName}</a>
    <a href="${ctx}/posts/${posts.id}/detail">${posts.title}</a>
  </h2>
  <div class="fly-list-info">
    <a href="${ctx}/user/home/${posts.user.id}" link>
      <cite>${posts.user.realname}</cite>
      <% if(posts.user.auth != '' && posts.user.auth == '1'){%>
      <i class="iconfont icon-renzheng" title="认证信息：${posts.user.authInfo}"></i>
      <%}%>
      <% if(posts.user.vipLevel != '' && posts.user.vipLevel != '0'){%>
      <i class="layui-badge fly-badge-vip">VIP${posts.user.vipLevel}</i>
      <%}%>
    </a>
    <span><% var publishTime = @DateUtils.convertTimeToFormat(posts.publishTime);%>${publishTime}</span>
    <% if(posts.column == '0'){%>
    <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i>${posts.experience}</span>
    <%}%>
    <% if(posts.solved == 1){%><span class="layui-badge fly-badge-accept layui-hide-xs">已结</span><%}%>
    <span class="fly-list-nums">
                  <i class="iconfont icon-pinglun1" title="回答"></i>${posts.commentCount}
    </span>
  </div>
  <div class="fly-list-badge">
    <% if(posts.top == 1){%><span class="layui-badge layui-bg-black" >置顶</span><%}%>
    <% if(posts.essence == 1){%><span class="layui-badge layui-bg-red" >精帖</span><%}%>
  </div>
</li>